:root{
    --dc_intro-text-desktop:31px;
    --dc_intro-text-mobile:22px;
    --dc_main-title-desktop:62px;
    --dc_main-title-mobile:35px;
    --dc_testimonial-body-text-mobile:18px;
    --dc_testimonial-body-text-desktop:17px;
    --dc_testimonial-author-name-mobile:20px;
    --dc_testimonial-author-name-desktop:22px;
    --dc_testimonial-author-name-weight:800;
    --dc_additional-benefits-header-mobile:26px;
    --dc_additional-benefits-header-desktop:24px;
    --dc_body-text-font-size-mobile:18px;
    --dc_body-text-font-size-desktop:17px;
}

body, html{
    margin:0;
    padding:0;
}

.dc_additional-benefits_container{
    margin:auto;
    width: 100%;
    max-width: 1400px;
}

@media only screen and (max-width: 769px) {
    .dc_additional-benefits_container{
        width: 100%;
        margin:0;
        padding:0;
    }
}

.dc_custom-intro-text, .dc_custom-main-title{
    text-align: center;
}

.dc_custom-intro-text{
    font-size: var(--dc_intro-text-desktop);
    margin:0;
    
}

@media only screen and (max-width: 769px){
    .dc_custom-intro-text{
        font-size: var(--dc_intro-text-mobile);
    }
}


.dc_custom-main-title{
    font-size: var(--dc_main-title-desktop);
    margin:15px 0;
    font-weight: 800;
}

@media only screen and (max-width: 769px){
    .dc_custom-main-title{
        font-size: var(--dc_main-title-mobile);
    }
}

.dc_additional-benefits-grid, .dc_additional-benefits_row1, .dc_additional-benefits_row2, .dc_additional-benefits_row3{
    max-width: 100%;
}

.dc_additional-benefits_row1, .dc_additional-benefits_row3{
    margin: 50px 0;
}

.dc_additional-benefits_block{
    border:1px solid #e0e0e0;
    background-color: #fff;
    max-width:70%;
    padding:16px;
    margin: 18px auto;
    box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.15);
}


.dc_additional-benefits_header{
    font-size: var(--dc_additional-benefits-header-mobile);
    font-weight: 800;
    margin: 0 20px 20px 20px;
    text-align: center;
}

.dc_additional-benefits-content_container{
    display: flex;
    flex-direction: row;
}

.dc_additional-benefits-bullet-icon{
    color:#E40100;
    margin:5px 8px 0 0;
    font-size: 8px;
}

.dc_additional-benefits_content{
    font-size: var(--dc_body-text-font-size-mobile);
    margin:0;
    text-align: left;
}

.dc_additional-benefits_row2 > img {
    margin: auto;
    width: 100%;
    max-width: 100%;
}

/* ERASE THIS WHEN IMPLEMENTING THE CODE */
.dc_book-cta{
    display: flex;
    justify-content: center;
}

 .dc_cat-btn{
    width:90%;
    height: 80px;
 }

 /* ERASE THIS WHEN IMPLEMENTING THE CODE */