:root{
    --dc_page-width:100%;
    --dc_page-max-width: 1400px;
    --dc_intro-text-desktop:31px;
    --dc_intro-text-mobile:22px;
    --dc_main-title-desktop:62px;
    --dc_main-title-mobile:35px;
    --dc_testimonial-body-text-mobile:18px;
    --dc_testimonial-body-text-desktop:17px;
    --dc_testimonial-author-name-mobile:20px;
    --dc_testimonial-author-name-desktop:22px;
    --dc_testimonial-author-name-weight:800;
    --dc_additional-benefits-header-mobile:26px;
    --dc_additional-benefits-header-desktop:24px;
    --dc_body-text-font-size-mobile:18px;
    --dc_body-text-font-size-desktop:17px;
}

body, html{
    margin:0;
    padding:0;
}

.dc_container_announcement-bar{
    background-color: #E40100;
    color: #fff;
    text-align: center;
    text-wrap: wrap;
    padding:15px;
    font-size: 18px;
    font-weight: 800;
}

.dc_container_content{
    width:var(--dc_page-width);
    max-width: var(--dc_page-max-width);
    height: auto;
    margin: auto;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    box-sizing: border-box;
}

.dc_copy_reviews{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom:20px;
}

@media only screen and (max-width:769px){
    .dc_copy_reviews{
        flex-direction: column;
    }
}

.dc_rating-stars, .dc_rating-tagline > p {
    font-size: 25px;
}

@media only screen and (max-width:769px){
    .dc_rating-stars, .dc_rating-tagline > p {
        font-size: 18px;
    }
}

.dc_rating-stars{
    margin-right:10px;
}

.dc_rating-tagline > p{
    margin:0
}

@media only screen and(max-width: 769px){
    .dc_rating-stars{
        margin-right: 0;
        font-size: 18px;
    }

}


@media only screen and (min-width: 769px){
    .dc_hide-desktop{
        display: none;
    }
}

@media only screen and (max-width: 769px){
    .dc_hide-mobile{
        display: none;
    }    
}

.dc_custom-intro-text, .dc_custom-main-title{
    text-align: center;
}

.dc_custom-intro-text{
    font-size: var(--dc_intro-text-desktop);
    margin:0;
    
}

@media only screen and (max-width: 769px){
    .dc_custom-intro-text{
        font-size: var(--dc_intro-text-mobile);
    }
}

.dc_custom-main-title{
    font-size: var(--dc_main-title-desktop);
    margin:15px 0;
    font-weight: 800;
}

@media only screen and (max-width: 769px){
    .dc_custom-main-title{
        font-size: var(--dc_main-title-mobile);
    }
}

.dc_custom-page-heading{
    font-size: 6rem;
}

@media only screen and (max-width: 769px){
    .dc_custom-page-heading{
        font-size: 2.2rem;
    }
}

.dc_page-title { 
    grid-area: 1 / 1 / 2 / 2;
    height: auto;
    margin: 15px;
} 

.dc_book-main-cta { 
    grid-area: 1 / 2 / 3 / 3;
    background-color: red;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
 }

.dc_featured-video{
    grid-area:  2 / 1 / 3 / 2;
    height: auto;
    margin: 15px;
}

.dc_video {
    width: 100%;
}

.dc_testimonials-container { 
    grid-area: 3 / 1 / 4 / 3; 
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    max-width: 100%;
    padding: 30px;
 }

.dc_page-title, .dc_book-main-cta, .dc_testimonials {
    padding:20px;
}

 .dc_book-main-cta > img {
    width: 100%;
}

.dc_book-cta{
    display: flex;
    justify-content: center;
}

 .dc_cat-btn{
    width:90%;
    height: 80px;
 }

 .dc_testimonials-inner-container_card{
    width: 100%;
 }

 .dc_testimonial-card{
    background-color: #fff;
    box-shadow: 1px 2px 41px -9px rgba(0,0,0,0.75);
    border-radius: 15px;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    padding:15px;
 }

 .dc_testimonial-img{
    width: 120px;
    height: auto;
    margin-right: 20px;
    border-radius: 10px;
 }

 .dc_testimonial-img > img {
    width: 100%;
    border-radius: 10px;
 }

 .dc_testimonial-text-container{
    width: 100%;
    max-width: 100%;
 }

.dc_testimonial-text,.dc_testimonial-author{
    text-align: center;
} 

 .dc_testimonial-author{
    font-weight: 800;
 }

 @media only screen and (max-width: 769px) {
    .dc_container_content{
        display: block;
  }

    .dc_book-main-cta {
        grid-area: auto; 
        order: 3; 
        height: auto;
    }

    .dc_featured-video{
        grid-area: auto; 
        order: 2; 
        height: auto;
        padding: 0 20px;
        margin: 0;
    }

    .dc_page-title {
        grid-area: auto; 
        order: 1; 
        height: auto;
        
    }

    .dc_testimonials-container {
        grid-area: auto; 
        order: 4; 
        height: auto;
        flex-direction: column;
    }

    .dc_testimonial-card{
        flex-direction: column;
    }

    .dc_testimonial-img{
        width: 100%;
        height: auto;
    }

    .dc_testimonial-img > img{
        width: 100%;
    }

    .dc_testimonials-inner-container_card{
        margin-bottom: 25px;
    }
}



/* Styles for testimonials type 2 */
.dc_testimonials-container_type2{
    margin:auto;
    width: var(--dc_page-width);
    max-width: var(--dc_page-max-width);
}

@media only screen and (max-width: 769px) {
    .dc_testimonials-container_type2{
        width: 100%;
        margin:0;
        padding:0;
    }
}

@media only screen and (max-width: 769px){
    .dc_testimonials-header_type2{
        margin:20px;
    }
}

.dc_testimonials-grid_container_type2{
    margin:50px auto;
    width:var(--dc_page-width);
    max-width: var(--dc_page-max-width);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media only screen and (min-width: 769px){
    .dc_testimonials-grid_container_type2{
        flex-direction: row;
    }
}

.dc_testimonial-card_type2{
    margin:15px 25px;
    width:80%;
    box-shadow: 1px 2px 41px -9px rgba(0,0,0,0.75);
    border-radius: 15px;
    padding:15px;
}


.dc_testimonial-image-container_type2 > img {
    width: 100%;
    border-radius: 10px;
}


.dc_testimonial-body-text_type2 {
    font-size: var(--dc_testimonial-body-text-mobile);
    text-align: center;
}

@media only screen and (min-width:769px){
    .dc_testimonial-body-text_type2 {
        font-size: var(--dc_testimonial-body-text-desktop);
    }
}

.dc_testimonial-author_type2{
    font-size:var(--dc_testimonial-author-name-mobile);
    font-weight: var(--dc_testimonial-author-name-weight);
    text-align: center;
}

@media only screen and (min-width: 769px){
    .dc_testimonial-author_type2{
        font-size: var(--dc_testimonial-author-name-desktop);
    }
}

/* Styles for the additional benefits */
.dc_additional-benefits_container{
    margin:auto;
    width: var(--dc_page-width);
    max-width: var(--dc_page-max-width);
}

@media only screen and (max-width: 769px) {
    .dc_additional-benefits_container{
        width: 100%;
        margin:0;
        padding:0;
    }
}

.dc_additional-benefits-grid, .dc_additional-benefits_row1, .dc_additional-benefits_row2, .dc_additional-benefits_row3{
    max-width: 100%;
}

@media only screen and (min-width: 769px){
    .dc_additional-benefits_row1, .dc_additional-benefits_row3 {
        max-width: 30%;
    }

    .dc_additional-benefits_row2{
        width:100%;
    }
}

.dc_additional-benefits-grid{
    display: flex;
    flex-direction: column;
}

@media only screen and (min-width: 769px){
    .dc_additional-benefits-grid{
        flex-direction: row;
        margin: 50px 0;
    }
}


.dc_additional-benefits_row1, .dc_additional-benefits_row3{
    margin: 50px 0;
}

@media only screen and (min-width: 769px){
    .dc_additional-benefits_row1, .dc_additional-benefits_row3{
        margin: 0;
    }
}

.dc_additional-benefits_block{
    border:1px solid #e0e0e0;
    background-color: #fff;
    max-width:70%;
    padding:16px;
    margin: 18px auto;
    box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.15);
}


.dc_additional-benefits_header{
    font-size: var(--dc_additional-benefits-header-mobile);
    font-weight: 800;
    margin: 0 20px 20px 20px;
    text-align: center;
}

.dc_additional-benefits-content_container{
    display: flex;
    flex-direction: row;
}

.dc_additional-benefits-bullet-icon{
    color:#E40100;
    margin:5px 8px 0 0;
    font-size: 8px;
}

.dc_additional-benefits_content{
    font-size: var(--dc_body-text-font-size-mobile);
    margin:0;
    text-align: left;
}

.dc_additional-benefits_row2 > img {
    margin: auto;
    width: 100%;
    max-width: 100%;
}

/* Features section */
.dc_features-banner_container{
    margin: auto;
    padding-top:20px;
    padding-bottom:20px;
    width: var(--dc_page-width);
    max-width: var(--dc_page-max-width);
    background-color: lightgray;
}

.dc_features-banner_title{
    text-align: center;
    font-size: var(--dc_main-title-mobile);
    margin:20px;
    height: 100%;
}

@media only screen and (min-width: 769px){
    .dc_features-banner_title{
        font-size: var(--dc_main-title-desktop);
    }
}

.dc_features-banner_benefits-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media only screen and (min-width: 769px){
    .dc_features-banner_benefits-container{
        flex-direction: row;
        justify-content: center;
    }
}

.dc_features-banner_benefit > i > img {
    max-width:100%;
    width: 50px;
}

.dc_features-banner_benefit{
    text-align: center;
    margin:15px;
}

@media only screen and (min-width: 769px) {
    .dc_features-banner_benefit{
        margin:20px 40px;
    }
}

.dc_features-banner_benefit > p {
    font-size: var(--dc_intro-text-mobile);
}

@media only screen and (min-width: 769px){
    .dc_features-banner_benefit > p {
        font-size: var(--dc_intro-text-desktop);
    } 
}