body, html{
    margin:0;
    padding:0;
}


.dc_container_announcement-bar{
    background-color: #E40100;
    color: #fff;
    text-align: center;
    text-wrap: wrap;
    padding:15px;
    font-size: 18px;
    font-weight: 800;
}

.dc_container_content{
    width:100%;
    max-width: 1400px;
    height: auto;
    margin: auto;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    box-sizing: border-box;
}

.dc_copy_reviews{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width:769px){
    .dc_copy_reviews{
        flex-direction: column;
    }
}

.dc_rating-stars, .dc_rating-tagline > p {
    font-size: 25px;
}

@media only screen and (max-width:769px){
    .dc_rating-stars, .dc_rating-tagline > p {
        font-size: 18px;
    }
}

.dc_rating-stars{
    margin-right:10px;
}

.dc_rating-tagline > p{
    margin:0
}

@media only screen and(max-width: 769px){
    .dc_rating-stars{
        margin-right: 0;
        font-size: 18px;
    }

}


.dc_copy-intro{
    font-size:31px;
    font-weight: 0;
    text-align: center;
    line-height: 1.3;
    margin: 10px;
}

@media only screen and (max-width: 769px) {
    .dc_copy-intro{
        font-size:22px;
        margin:15px 0;
    }
}

.dc_copy_main-title{
    margin: 0;
    text-align: center;
    padding: 0;
    font-size:106px;
    font-weight: 800;
    line-height: 0.9;
}

@media only screen and (max-width: 769px) {
    .dc_copy_main-title{
        font-size:35px;
    } 
}

.dc_page-title { 
    grid-area: 1 / 1 / 2 / 2;
    height: auto;
    margin: 15px;
} 

.dc_book-main-cta { 
    grid-area: 1 / 2 / 3 / 3;
    background-color: red;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
 }

.dc_featured-video{
    grid-area:  2 / 1 / 3 / 2;
    height: auto;
    margin: 15px;
}

.dc_video {
    width: 100%;
}

.dc_testimonials-container { 
    grid-area: 3 / 1 / 4 / 3; 
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    max-width: 100%;
    padding: 30px;
 }

.dc_page-title, .dc_book-main-cta, .dc_testimonials {
    padding:20px;
}

 .dc_book-main-cta > img {
    width: 100%;
}

.dc_book-cta{
    display: flex;
    justify-content: center;
}

 .dc_cat-btn{
    width:90%;
    height: 80px;
 }

 .dc_testimonials-inner-container_card{
    width: 100%;
 }

 .dc_testimonial-card{
    background-color: #fff;
    box-shadow: 1px 2px 41px -9px rgba(0,0,0,0.75);
    border-radius: 15px;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    padding:15px;
 }

 .dc_testimonial-img{
    width: 120px;
    height: auto;
    margin-right: 20px;
    border-radius: 10px;
    
 }

 .dc_testimonial-img > img {
    width: 100%;
    border-radius: 10px;
 }

 .dc_testimonial-text-container{
    width: 100%;
    max-width: 100%;
 }

.dc_testimonial-text,.dc_testimonial-author{
    text-align: center;
} 

 .dc_testimonial-author{
    font-weight: 800;
 }

 @media only screen and (max-width: 769px) {
    .dc_container_content{
        display: block;
  }

    .dc_book-main-cta {
        grid-area: auto; 
        order: 3; 
        height: auto;
    }

    .dc_featured-video{
        grid-area: auto; 
        order: 2; 
        height: auto;
        padding: 0 20px;
        margin: 0;
    }

    .dc_page-title {
        grid-area: auto; 
        order: 1; 
        height: auto;
        
    }

    .dc_testimonials-container {
        grid-area: auto; 
        order: 4; 
        height: auto;
        flex-direction: column;
    }

    .dc_testimonial-card{
        flex-direction: column;
    }

    .dc_testimonial-img{
        width: 100%;
        height: auto;
    }

    .dc_testimonial-img > img{
        width: 100%;
    }

    .dc_testimonials-inner-container_card{
        margin-bottom: 25px;
    }
}

